<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/shop_list.css'>
    <title>상품 목록</title>
</head>
<body>
<a class="go_back" href="javascript:history.back(-1)">뒤로</a>
<a class="go_back" href="/admin/main">홈</a>
<h3>[ 상품 목록 ]</h3>
<table class="list">
    <div>
        <h3> [ 가게명 : <th:block th:text="${username}"></th:block> ]</h3>
    </div>
    <thead>
    <tr>
        <th>번호</th>
        <th>상품이름</th>
        <th class="img">사진</th>
        <th>가격</th>
        <th>상태</th>
        <th>비고</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="itemList : ${list}">
        <td th:text="${itemList.itemId}">상품번호</td>
        <td th:text="${itemList.itemName}">위치</td>
        <td><img th:src="@{/img/itemImg/}+${itemList.itemImg}" th:onclick="|location.href='@{/admin/supervisor/itemEdit/{id}(id=${itemList.itemId})}'|"></td>
        <td th:text="${itemList.price} + '원'">가격</td>
        <td th:if="${itemList.isSoldOut.toString().equals('1')}">품절</td>
        <td th:unless="${itemList.isSoldOut.toString().equals('1')}">판매가능</td>
        <td>
            <a class="go_back" th:href="@{/admin/manager/itemEdit/{id} (id=${itemList.itemId})}">수정</a>
            <a class="go_back" th:href="@{/admin/manager/itemDelete/{id} (id=${itemList.itemId})}">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="paging">
    <ul>
        <li class="paginate_button previous" th:if="${pageMaker.prev}">
            <a th:href="@{/admin/manager/itemList?pageNum={startPage}(startPage=${pageMaker.getStartPage()}-1)}">이전</a>
        </li>
        <li class="paginate_button" th:each="num:${#numbers.sequence(pageMaker.getStartPage(), pageMaker.endPage)}">
            <a th:href="@{/admin/manager/itemList?pageNum={num} (num=${num})}"><th:block th:text="${num}"></th:block></a>
        </li>
        <li class="paginate_button next" th:if="${pageMaker.next}">
            <a th:href="@{/admin/manager/itemList?pageNum={endPage}(endPage=${pageMaker.getEndPage()}+1)}">다음</a>
        </li>
    </ul>
    <form id="actionForm" action="/admin/manager/itemList" method="get">
        <input type="hidden" name="pageNum" th:value="${pageMaker.cri.getPageNum()}">
        <input type="hidden" name="amount" th:value="${pageMaker.cri.getAmount()}">
        <input type="hidden" name="memberId" th:value="${pageMaker.cri.getMemberId()}">
    </form>
</div>
<script type="text/javascript">
    $(".paginate_button a").on("click", function (e) {
        e.preventDefault();
        $("#actionForm").find("input[name=pageNum]").val($(this)).attr("th:href");
        $("#actionForm").submit();
    });
</script>
</body>
</html>