<!DOCTYPE html>
<html>
<head>
    <meta contentType="application/json; charset=UTF-8">
    <title>회원가입 폼</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/join.css'>
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    회원가입
</header>
<section>
    <form id="join" name="join" method="post" action="/admin/join">
        <div class="container">
            <article>가게이름</article>
            <div class="shopName">
            <article class="join_input_id"><input type="text" id="shop" name="shop" placeholder="가게 이름 입력"></article>
            <button class="duplicateCheck" id="duplicate_check" type="button" onclick="check();">중복확인</button>
            <div id="checkShopName"></div>

            </div>
            <article>암호</article>
            <article class="join_input"><input type="password" id="pwd" name="pwd" placeholder="암호 입력"></article>
            <article>암호확인</article>
            <article class="join_input"><input type="password" id="pwd_confirm" name="pwd_confirm" placeholder="암호 확인" onkeyup="pwdCheck()"></article>
            <div id="checkPwd"></div>
        </div>

        <br>
        <button type="submit" id="join_btn">회원가입</button>
    </form>
</section>

<script type="text/javascript">
//아이디 체크여부 확인 (아이디 중복일 경우 = 1 , 중복이 아닐경우 = 0 )
function check() {
    var shop = $("#shop").val();

    console.log("전송할 json = " + shop);
    $.ajax({
        async:true,
        type:'POST',
        url:'/admin/duplicateCheck',
        dataType:'json',
        contentType:'application/json; charset=utf-8;',
        data: {"shop":shop},
        success: function (data) {
            if (data == 1) {
                console.log("이미 사용 중인 이름입니다.");
                $('#duplicate_check').attr('check', 'N');
                alert("이미 사용 중인 이름입니다.");
            }else{
                console.log("사용 가능한 이름입니다.");
                $('#duplicate_check').attr('check', 'Y');
                alert("사용 가능한 이름입니다.");
            }
        },
        error:function(){

        }
    });
}

function pwdCheck() {
    var f1 = document.forms[0];
    var pwd1 = f1.pwd.value;
    var pwd2 = f1.pwd_confirm.value;
    if (pwd1 != pwd2) {
        document.getElementById('checkPwd').style.color="red";
        document.getElementById('checkPwd').innerHTML = "동일한 암호를 입력해 주세요.";
    }else{
        document.getElementById('checkPwd').style.color = "blue";
        document.getElementById('checkPwd').innerHTML = "암호가 정상적으로 입력되었습니다.";
    }
}

$(function (){
    $('#join_btn').click(function(){
        var shopName = $('#shop').val();
        var duplicateCheck = $('#duplicate_check').attr('check');
        var pwd = $('#pwd').val();
        var pwdConfirm = $('#pwd_confirm').val();

        if(shopName == null || shopName == undefined || shopName == ""){
            alert('가게 이름을 입력해주세요.');
            $('#shop').focus();
            return false;
        }
        if(duplicateCheck == "" || duplicateCheck == 'N'){
            alert('이름 중복확인을 해주세요');
            $('#duplicate_check').focus();
            return false;
        }
        if (pwd == null || pwd == "" || pwd == undefined) {
            alert('비밀번호를 입력해주세요.');
            $('#pwd').focus();
            return false;
        }
        if (pwdConfirm == null || pwdConfirm == "" || pwdConfirm == undefined) {
            alert('비밀번호 확인을 입력해주세요.');
            $('#pwd_confirm').focus();
            return false;
        }
        if(pwd != pwdConfirm){
            alert('입력한 비밀번호가 같지 않습니다.');
            $('#pwd_confirm').focus();
            return false;
        }

        // $('#join').submit();

    })
})
</script>
</body>
</html>