<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/shop_list.css'>
    <title>매장관리</title>
</head>
<body>
<a class="go_back" href="javascript:history.back(-1)">뒤로</a>
<a class="go_back" href="/admin/main">홈</a>

<h3>[ 매장관리 ]</h3>
<div class="container">
    <div>
        <a href="/admin/supervisor/join">관리자 등록</a>
    </div>
    <div>
        <a href="/admin/supervisor/shopList">매장 목록</a>
    </div>
</div>
</body>
</html>