<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/css/shop_list.css'>
    <title>매장목록</title>
</head>
<body>
<a class="go_back" href="javascript:history.back(-1)">뒤로</a>
<a class="go_back" href="/admin/main">홈</a>
<h3>[ 매장 목록 ]</h3>
<table class="list">
  <thead>
    <tr>
      <th>번호</th>
      <th class="img">사진</th>
      <th>가게명</th>
      <th>입점일자</th>
      <th>위치</th>
      <th>권한</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="members : ${managerList}">
      <td th:text="${members.id}"></td>
      <td><img th:src="@{/img/shopImg/}+${members.img}" th:onclick="|location.href='@{/admin/supervisor/itemList/detail?member={id}(id=${members.id})}'|"></td>
      <td th:text="${members.username}">가게명</td>
      <td th:text="${members.regDate}">입점일자</td>
      <td th:text="${members.location}">위치</td>
      <td th:text="${members.role}">권한</td>
    </tr>
  </tbody>
</table>
<div class="paging">
  <ul>
    <li class="paginate_button previous">
      <a id="paginate_button_previous_a" th:if="${pageMaker.prev}"
         th:href="@{/admin/supervisor/shopList?pageNum={startPage}(startPage=${pageMaker.getStartPage()}-1)}">이전</a>
    </li>
    <li class="paginate_button" th:each="num:${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
      <a th:href="@{/admin/supervisor/shopList?pageNum={num} (num=${num})}"><th:block th:text="${num}"></th:block></a>
    </li>
    <li class="paginate_button next" th:if="${pageMaker.next}">
      <a class="paginate_button_next_a" th:href="@{/admin/supervisor/shopList?pageNum={endPage}(endPage=${pageMaker.getEndPage()}+1)}">다음</a>
    </li>
  </ul>

  <form id="actionForm" action="/admin/supervisor/shopList" method="get">
    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.getPageNum()}">
    <input type="hidden" name="amount" th:value="${pageMaker.cri.getAmount()}">
    <input type="hidden" name="memberId" th:value="${pageMaker.cri.getRole()}">
  </form>
</div>
<script type="text/javascript">
  $(".paginate_button a").on("click", function (e) {
    e.preventDefault();
    $("#actionForm").find('input[name=pageNum]').val($(this)).attr("th:href");
    $("#actionForm").submit();
  });

  // $(function(){
  //   $(".paginate_button_previous_a").click(function(){
  //       var check_previous = $('${pageMaker.prev}');
  //       if(check_previous == false){
  //           alert("이전 페이지가 없습니다.");
  //           return false;
  //       }
  //   })
  // })
  // $(function(){
  //   $(".paginate_button_next_a").click(function(){
  //       var check_next= $('${pageMaker.next}');
  //       if(check_next == false){
  //           alert("다음 페이지가 없습니다.");
  //           return false;
  //       }
  //   })
  // })
</script>
</body>
</html>