* {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    list-style-type: none;
    margin: 10px 10px;
    padding-top: 30px;
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 15%;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

h3{
    margin: 20px;
}

table{
    margin : 20px 20px;
    border: 1px solid #454545;
    border-collapse: collapse;
    width:1100px;
}
table tr, th, td{
    border: 1px solid #454545;
    padding: 10px;
    text-align:center;
}

table thead th{
    font-weight: bold;
    width: 30px;
    height: 50px;
}

table thead th.img{
    width:220px;
    height: 60px;
}

img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

form{
    margin : 20px;
}

.go_back{
    margin: 10px;
    padding-top:10px;
    width: 60px;
    height: 30px;
    font-size: 15px;
}
.paging{
    width: 1200px;
}

.paging ul{
    margin : 0px 120px;
}
.paginate_button{
    display: inline-block;
    text-align: center;
}

form {
    width: 500px;
    height: 100px;
}
form select{
    width: 120px;
    height: 30px;
}
form button {
    width: 60px;
    height: 30px;
}
