* {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    margin: 10px 10px;
    padding-top: 30px;
    width: 460px;
    height: 60px;
    border: none;
    border-radius: 45px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

h3{
    margin: 20px;
}
table{
    margin : 20px 20px;
    border: 1px solid #454545;
    border-collapse: collapse;
    width:80%;
}
table tr, th, td{
    border: 1px solid #454545;
    padding: 10px;
    text-align:center;
}
table thead{
    font-weight: bold;
}
table thead th{
    width: 30px;
    height: 50px;
}


table thead th.img{
    width:150px;
    height: 60px;
}
td.img{
    width:150px;
    height: 60px;
}
td .img .img_a{
    background-color: white;
}

table img{
    width: 150px;
    height: 60px;
    object-fit: scale-down;
    cursor: pointer;
}

form{
    margin : 20px;
}

.go_back{
    margin: 10px;
    padding-top:10px;
    width: 60px;
    height: 30px;
    font-size: 15px;
}