<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
</head>
<body>
<header>
    <h1 class="headerTitle">FOOD COURT</h1>
</header>
<nav>
    <ul>
        <li><a href="#">식재료정보</a></li>
        <li><a href="#">메뉴2</a></li>
        <li><a href="#">메뉴3</a></li>
        <li><a href="#">Language</a></li>
    </ul>
</nav>
<div class="container">
    <section>
        <article>
            <h3 class="h3Title"><a href="#">청년다방</a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#">사보텐</a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#">아비꼬</a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#">스시엔</a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#"> </a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#"> </a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#"> </a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#"> </a></h3>
        </article>
        <article>
            <h3 class="h3Title"><a href="#"> </a></h3>
        </article>
    </section>
</div>
<footer>
    <article class="weather_widget">

    </article>
    <!--     <article class="ordered_menu">
            주문내역:

        </article>
        <article class="bill">
            결제금액:
        </article> -->
</footer>
</body>
</html>