<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
</head>
<body>
<header>
    <h1 class="headerTitle">FOOD COURT</h1>
</header>
<nav>
    <ul>
        <li class="arrow"><a href="#">[ < ]</a></li>
        <li th:each="member:${memberList}"><a href="#" th:text="${member.getUsername}"></a></li>
        <li><a href="#">스시앤</a></li>
        <li><a href="#">아비꼬</a></li>
        <li><a href="#">청년다방</a></li>
        <li class="arrow"><a href="#"> [ > ] </a></li>
    </ul>
</nav>
<div class="container_menu">
    <section>
        <article th:each="item:${itemList}">
            <div class="menu_img"><img img th:src="@{/img/itemImg/}+${item.getItemImg}"></div>
            <div class="menu_title"><th:block th:text="${item.getItemName()}">음식이름</th:block></div>
            <div class="price"><th:block th:text="${item.getPrice()} + 원">9,000원</th:block></div>
        </article>
        <article>
            <div class="menu_img"><a href="#">음식이미지</a></div>
            <div class="menu_title">음식이름</div>
            <div class="price">9,000원</div>
        </article>
        <article>
            <div class="menu_img"><a href="#">음식이미지</a></div>
            <div class="menu_title">음식이름</div>
            <div class="price">9,000원</div>
        </article>
        <article>
            <div class="menu_img"><a href="#">음식이미지</a></div>
            <div class="menu_title">음식이름</div>
            <div class="price">9,000원</div>
        </article>
        <article>
            <div class="menu_img"><a href="#">음식이미지</a></div>
            <div class="menu_title">음식이름</div>
            <div class="price">9,000원</div>
        </article>
        <article>
            <div class="menu_img"><a href="#">음식이미지</a></div>
            <div class="menu_title">음식이름</div>
            <div class="price">9,000원</div>
        </article>
        <article>
            <div class="menu_img"><a href="#">음식이미지</a></div>
            <div class="menu_title">음식이름</div>
            <div class="price">9,000원</div>
        </article>
    </section>
</div>
<div class="container_info">
   <article class="ordered_menu">
            주문내역:
        </article>
        <article class="pay_price">
            결제금액:
        </article>
</div>
</body>
</html>