<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="logout">
    <th:block th:unless="${#strings.isEmpty(session.greeting)}">
        <a id="logout" href="/admin/logout"><th:block th:text="${session.greeting} + ${session.role} + ' 로그아웃'"></th:block></a>
    </th:block>
</div>
<div class="login">
    <th:block th:if="${#strings.isEmpty(session.greeting)}">
        <a id="login" href="/admin/loginForm">로그인</a>
    </th:block>
</div>
<div class="supervisor">
    <th:block th:if="${#strings.equals(session.role, '[ROLE_SUPERVISOR]')}">
        <a name="supervisor" href="/admin/supervisor">매장관리</a>
        <a name="supervisor" href="/admin/manager">상품관리</a>

    </th:block>
</div>
<div class="manager">
    <th:block th:if="${#strings.equals(session.role, '[ROLE_MANAGER]')}">
        <a name="manager" href="/admin/manager">상품관리</a>
    </th:block>
</div>
</body>
</html>