<!DOCTYPE html>
<html>
<head>
    <meta contentType="application/json; charset=UTF-8">
    <title>로그인</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/join.css'>
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    로그인
</header>
<section>
    <form method="post" action="/admin/login">
        <div class="container">
            <article>가게이름</article>
                <article class="join_input"><input type="text" id="username" name="username" placeholder="가게 이름 입력"></article>
            <article>암호</article>
            <article class="join_input"><input type="password" id="password" name="password" placeholder="암호 입력"></article>
        </div>
        <br>
        <button type="submit" id="join_btn">로그인</button>
    </form>
</section>