<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="korIT.kiosk.mapper.ItemMapper">

    <insert id="insertItem" parameterType="korIT.kiosk.dto.ItemDTO" useGeneratedKeys="true" keyProperty="itemId">
        insert into item (itemName, price, isSoldOut, itemImg, memberId) values(#{itemName}, #{price}, #{isSoldOut}, #{itemImg}, #{memberId})
    </insert>

    <update id="updateItem" parameterType="korIT.kiosk.dto.ItemDTO">
        update item set itemName=#{itemName}, price=#{price}, itemImg=#{itemImg}, isSoldOut=#{isSoldOut} where itemid=#{itemId}
    </update>

    <delete id="deleteItem" parameterType="_int">
        delete from item where itemId=#{itemId}
    </delete>

    <select id="findByItemId" parameterType="_int" resultType="korIT.kiosk.dto.ItemDTO">
        select * from item where itemId=#{itemId}
    </select>

    <select id="findByItemName" parameterType="String" resultType="korIT.kiosk.dto.ItemDTO">
        select * from item where itemName=#{itemName}
    </select>

    <select id="findItemsByMemberId" parameterType="String" resultType="korIT.kiosk.dto.ItemDTO">
        select * from item where memberId=#{memberId}
    </select>

    <select id="findItems" resultType="korIT.kiosk.dto.ItemDTO">
        select * from item
    </select>

    <select id="checkSaleStatus" parameterType="_int" resultType="_int">
        select isSoldOut from item where itemId=#{itemId}
    </select>

    <update id="changeToSoldOut" parameterType="_int">
        update item set isSoldOut = 1
    </update>

    <update id="changeToForSale" parameterType="_int">
        update item set isSoldOut = 0;
    </update>


    <!-- 페이징 처리 할 때 사용할 쿼리문   -->

    <select id="getItemListWithPaging" resultType="korIT.kiosk.dto.ItemDTO">
        select list.* from (
            select @rownum := @rownum + 1 as no, A.* from (
                select *
                from item,(select @rownum:=0)a
                where memberId = #{memberId}
                order by itemId desc
            )A
        ) list
        where no between #{pageNum} * #{amount} -4 and #{pageNum} * #{amount};
    </select>

    <select id="countItems" resultType="_int">
        select count(*) from item where memberId=#{memberId}
    </select>


    <select id="getItemList" parameterType="String" resultType="korIT.kiosk.dto.ItemDTO">
        select * from item where memberId = #{memberId} limit #{startList}, #{listSize}
    </select>

    <select id="getItemListCnt" resultType="korIT.kiosk.dto.ItemDTO">
        select count(*) as listCnt from item where memberId = #{memberId}
    </select>



</mapper>